.input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 85vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.me-message {
  background-color: #86d97b;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  align-self: flex-end;
}

.other-message {
  background-color: #555b5f;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  align-self: flex-start;
}

.me-message-name {
  font-size: 12px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  align-self: flex-end;
}

.other-message-name {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.edit-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 10px;
}

.send-button {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  align-self: flex-end;
}

.me-message-time {
  font-size: 12px;
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
  align-self: flex-end;
}

.other-message-time {
  font-size: 12px;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.online-users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.online-users-title {
  margin-right: 10px;
}
