.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-button {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
  height: 100vh;
}

.name-input {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
